
@{
    ViewData["Title"] = "Arquitectura";
}

<h1>Arquitectura</h1>

<div class="tab-content mt-3" id="librosTabsContent">
    <!-- Pestaña Arquitectura -->
        <h3>Arquitectura de software las partes dificiles</h3>
        <div class="row">
            <div class="col-md-4">
                <img src="https://images.cdn3.buscalibre.com/fit-in/360x360/92/1d/921d0ddc0329a892b9bd2822e7f2503c.jpg" class="img-fluid" alt="Clean Architecture" />
                <p><strong>Arquitectura de Software: Las Partes Difíciles</strong> - Neil Ford, Patrick Kua, and Rebecca Parsons</p>
                <p>Este libro explora los aspectos más complejos de la arquitectura de software, tales como las decisiones difíciles que
                    los arquitectos deben tomar en entornos de alto cambio. Ofrece estrategias prácticas y ejemplos reales para manejar la
                    incertidumbre y construir soluciones que sean sostenibles a largo plazo.</p>
                <iframe width="100%" height="200" src="https://www.youtube.com/embed/iBPQ_bfSKWA?si=h0S367Anw3tNq8Qy" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- Puedes agregar más libros aquí -->
        </div>


    <h3>The Software Architect Elevator</h3>
    <div class="row">
    <div class="col-md-4">
            <img src="https://images.cdn1.buscalibre.com/fit-in/360x360/1b/e7/1be74e2398ab083835d3aaec567411bb.jpg" class="img-fluid" alt="The Software Architect Elevator" />
        <p><strong>The Software Architect Elevator</strong> - Gregor Hohpe</p>
        <p>En "The Software Architect Elevator", Gregor Hohpe explora cómo los arquitectos de software deben trasladarse entre los niveles operativos y estratégicos de una organización. El libro ofrece consejos prácticos sobre cómo navegar entre estos niveles para influir en el diseño y desarrollo del software, mientras se mantiene alineado con las necesidades empresariales.</p>
            <iframe width="100%" height="200" src="https://www.youtube.com/embed/7ZeCfN0eInQ?si=0Bl8tlt7MIe6spfX" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
