
@{
    ViewData["Title"] = "Disenio";
}

<h1>Diseño</h1>

    <!-- Pestaña Diseño -->
<h3>
    Clean Architecture: A Craftsman's Guide to Software Structure and Design
</h3>
        <div class="row">
            <div class="col-md-4">
        <img src="https://images.cdn2.buscalibre.com/fit-in/360x360/71/8a/718a4cccdea44cf4b37c74a93f5bf96d.jpg" class="img-fluid"/>
        <p><strong>Clean Architecture</strong> - Robert C. Martin</p>
        <p>En "Clean Architecture", Robert C. Martin presenta principios fundamentales para diseñar software flexible, escalable y fácil de mantener. Explora la importancia de separar las preocupaciones y las diferentes capas de una aplicación para permitir un desarrollo más ágil y limpio.</p>
        <iframe width="100%" height="200" src="https://www.youtube.com/embed/1OLSE6tX71Y?si=S1BsO3OoQpURGm8z" frameborder="0" allowfullscreen></iframe>
            </div>
            <!-- Agrega más libros aquí -->
        </div>

<h3>Refactoring: Improving the Design of Existing Code</h3>
<div class="row">
    <div class="col-md-4">
        <img src="https://m.media-amazon.com/images/I/71TGolfP8fL.jpg" class="img-fluid" alt="Design Patterns" />
        <p><strong>Refactoring: Improving the Design of Existing Code</strong>
        <p>Este libro es una guía clave para mejorar el diseño del código existente sin cambiar su funcionalidad. Aprenderás cómo realizar cambios progresivos y seguros en el código con el objetivo de mejorar su calidad y legibilidad.</p>
        <iframe width="100%" height="200" src="https://www.youtube.com/embed/CjCJ76oZXTE?si=EArhlJIL2zP-Oume" frameborder="0" allowfullscreen></iframe>
    </div>
    <!-- Agrega más libros aquí -->
</div>